<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>IL BAMBINO - Catálogo</title>
    <link rel="stylesheet" href="../STYLES/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<link rel="stylesheet" href="../STYLES/mediaQuerys/mobiles.css" media="(min-width:850px)">
    <link rel="stylesheet" href="../STYLES/mediaQuerys/tablet.css" media="(min-width:1100px)">
    <link rel="stylesheet" href="../STYLES/mediaQuerys/desktop.css" media="(min-width:1300px)">-->
    <link rel="stylesheet" href="../STYLES/styles.css"/>
    <script src="JS/functions.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anoymous"/>
    <script 
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
     crossorigin="anonymous">     </script>
    
</head>
<body>
    <div class="grid-container">
    <header id="header">
        <img src="../ASSETS/logoTransparente.png" alt="logo">
        <a href="https://www.instagram.com/" target="_blank"><img src="../ASSETS/logoInstagram.png" alt="IG"></a> 
        <a href="https://www.facebook.com/" target="_blank" ><img src="../ASSETS/logoFacebook.png" alt="FB"></a> 
        <a href="../VIEWS/miCarrito.html"><img src="../ASSETS/miCarrito.png" alt="Mi Carrito"></a>

        
    </header> 
    <nav id="barra">
        <a href="../Index.html"> INICIO</a>
        <a href="catalogo.html">CATÁLOGO</a>
        <a href="comocomprar.html">COMO COMPRAR</a>
        <a href="contacto.html">CONTACTO</a>
       
</nav>  
    <main class="bloque">
    <button class="contado"type="bloque__button" onclick="contado()">Pago al contado</button>
    <h1> Nuestros productos </h1>
        <div class="grid-container-productos">
            <div class="bloque">
        <img class="bloque__imagen" src="../ASSETS/bodie1.jpg" alt="foto" width="300">
        <div class="bloque__opciones">
        <p class="bloque__precio">$ 490,00</p>
        <select>
            <option value="">Color</option>
            <option value="Rosa">Rosa</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="blanco">Blanco</option>
        </select>
        <select >
            <option value="">Talle</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
        </div></div>
              <div class="bloque">
            <img class="bloque__imagen" src="../ASSETS/bodie2.jpg" alt="foto" width="300">
            
            <div class="bloque__opciones">
            <p class="bloque__precio">$ 550,00</p>
            <select>
                <option value="">Color</option>
                <option value="Rosa">Rosa</option>
                <option value="azul">Azul</option>
                <option value="amarillo">Amarillo</option>
                <option value="blanco">Blanco</option>
            </select>
            <select >
                <option value="">Talle</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar" ></a>
            </div></div>
            <div class="bloque">
                <img class="bloque__imagen" src="../ASSETS/bodie3.jpg" alt="foto" width="300">
                
                <div class="bloque__opciones">
                <p class="bloque__precio">$ 500,00</p>
                <select>
                    <option value="">Color</option>
                    <option value="Rosa">Rosa</option>
                    <option value="azul">Azul</option>
                    <option value="amarillo">Amarillo</option>
                    <option value="blanco">Blanco</option>
                </select>
                <select >
                    <option value="">Talle</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
                </div></div>
                   <div class="bloque">
        <img class="bloque__imagen" src="../ASSETS/pantalon1.jpg" alt="foto" width="300">
        
        <div class="bloque__opciones">
        <p class="bloque__precio">$ 600,00</p>
        <select>
            <option value="">Color</option>
            <option value="Rosa">Rosa</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="blanco">Blanco</option>
        </select>
        <select >
            <option value="">Talle</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
        </div></div>        <div class="bloque">
            <img class="bloque__imagen" src="../ASSETS/pantalon2.jpg" alt="foto" width="300">
            
            <div class="bloque__opciones">
            <p class="bloque__precio">$ 580,00</p>
            <select>
                <option value="">Color</option>
                <option value="Rosa">Rosa</option>
                <option value="azul">Azul</option>
                <option value="amarillo">Amarillo</option>
                <option value="blanco">Blanco</option>
            </select>
            <select >
                <option value="">Talle</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
            </div></div>
            <div class="bloque">
                <img class="bloque__imagen" src="../ASSETS/pantalon3.jpg" alt="foto" width="300">
                
                <div class="bloque__opciones">
                <p class="bloque__precio">$ 500,00</p>
                <select>
                    <option value="">Color</option>
                    <option value="Rosa">Rosa</option>
                    <option value="azul">Azul</option>
                    <option value="amarillo">Amarillo</option>
                    <option value="blanco">Blanco</option>
                </select>
                <select >
                    <option value="">Talle</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar" ></a>
                </div></div>
                        <div class="bloque">
        <img class="bloque__imagen" src="../ASSETS/vestido1.jpg" alt="foto" width="300">
        
        <div class="bloque__opciones">
        <p class="bloque__precio">$ 700,00</p>
        <select>
            <option value="">Color</option>
            <option value="Rosa">Rosa</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="blanco">Blanco</option>
        </select>
        <select >
            <option value="">Talle</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
        </div></div>
    <div class="bloque">
        <img class="bloque__imagen" src="../ASSETS/vestido2.jpg" alt="foto" width="300">
        
        <div class="bloque__opciones">
        <p class="bloque__precio">$ 650,00</p>
        <select>
            <option value="">Color</option>
            <option value="Rosa">Rosa</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="blanco">Blanco</option>
        </select>
        <select >
            <option value="">Talle</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
        </div></div>
<div class="bloque">
    <img class="bloque__imagen" src="../ASSETS/vestido3.jpg" alt="foto" width="300">
    
    <div class="bloque__opciones">
    <p class="bloque__precio">$ 450,00</p>
    <select>
        <option value="">Color</option>
        <option value="Rosa">Rosa</option>
        <option value="azul">Azul</option>
        <option value="amarillo">Amarillo</option>
        <option value="blanco">Blanco</option>
    </select>
    <select >
        <option value="">Talle</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
    </div></div>
    <div class="bloque">
        <img class="bloque__imagen" src="../ASSETS/abrigo1.jpg" alt="foto" width="300">
        
        <div class="bloque__opciones">
        <p class="bloque__precio">$ 500,00</p>
        <select>
            <option value="">Color</option>
            <option value="Rosa">Rosa</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="blanco">Blanco</option>
        </select>
        <select >
            <option value="">Talle</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
        </div></div>
    <div class="bloque">
        <img class="bloque__imagen" src="../ASSETS/abrigo2.jpg" alt="foto" width="300">
        
        <div class="bloque__opciones">
        <p class="bloque__precio">$ 710,00</p>
        <select>
            <option value="">Color</option>
            <option value="Rosa">Rosa</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="blanco">Blanco</option>
        </select>
        <select >
            <option value="">Talle</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
        </div></div>
    <div class="bloque">
        <img class="bloque__imagen" src="../ASSETS/abrigo3.jpg" alt="foto" width="300">
        
        <div class="bloque__opciones">
        <p class="bloque__precio">$ 670,00</p>
        <select>
            <option value="">Color</option>
            <option value="Rosa">Rosa</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="blanco">Blanco</option>
        </select>
        <select >
            <option value="">Talle</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
        </div></div>

    <div class="bloque">
        <img class="bloque__imagen" src="../ASSETS/accesorio1.jpg" alt="foto" width="300">
        
        <div class="bloque__opciones">
        <p class="bloque__precio">$ 650,00</p>
        <select>
            <option value="">Color</option>
            <option value="Rosa">Rosa</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="blanco">Blanco</option>
        </select>
        <select >
            <option value="">Talle</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
    </div></div>
    <div class="bloque">
        <img class="bloque__imagen" src="../ASSETS/accesorio2.jpg" alt="foto" width="300">
        
        <div class="bloque__opciones">
        <p class="bloque__precio">$ 600,00</p>
        <select>
            <option value="">Color</option>
            <option value="Rosa">Rosa</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="blanco">Blanco</option>
        </select>
        <select >
            <option value="">Talle</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
        </div></div>
        <div class="bloque">
            <img class="bloque__imagen" src="../ASSETS/accesorio33.jpg" alt="foto" width="300">
            
            <div class="bloque__opciones">
            <p class="bloque__precio">$ 500,00</p>
            <select>
                <option value="">Color</option>
                <option value="Rosa">Rosa</option>
                <option value="azul">Azul</option>
                <option value="amarillo">Amarillo</option>
                <option value="blanco">Blanco</option>
            </select>
            <select >
                <option value="">Talle</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <a href="../VIEWS/comprar.html"><img src="../ASSETS/miCarrito.png" alt="comprar"></a>
            </div></div>
</div>
    </main>
    <footer id="footer">
        <p>¡HACEMOS ENVÍOS A TODO EL PAÍS!</p>
        <p>Teléfono: 0342-155687900 <a href="https://api.whatsapp.com/send?phone=+543425087277&text=Hola%20Il%20Bambino,%20quer%C3%ADa%20informaci%C3%B3n%20sobre:" target="_blank"><img src="../ASSETS/logoWhatsapp.jpg" alt="whatsapp"></a>
        Email: ilbambino@gmail.com        <a href="mailto:ilbambino@gmail.com" target="_blank"><img src="../ASSETS/logoMail.png" alt="mail"></a></p>
    
        <p class="diseñador">Diseño web realizado por <a href="mailto:doloresalemang@gmail.com" target="_blank"><img src="../ASSETS/logoDa.png" alt="DA"></a></p> 
    </footer>
    </div>
    <script>
        function contado(event) {
           const bloque =document.getElementsByClassName("bloque")[0];
           bloque.classList.toggle("bloque--contado");
        }
    </script>
</body>
</html>
