<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title> IL BAMBINO - Como comprar </title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../STYLES/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="../STYLES/mediaQuerys/mobiles.css" media="(min-width:850px)">
    <link rel="stylesheet" href="../STYLES/mediaQuerys/tablet.css" media="(min-width:1100px)">
    <link rel="stylesheet" href="../STYLES/mediaQuerys/desktop.css" media="(min-width:1300px)">-->
    <link rel="stylesheet" href="../STYLES/styles.css" />
</head>
<body>
    <div class="grid-container">
    <header id="header">
        <img src="../ASSETS/logoTransparente.png" alt="logo" >
        <a href="https://www.instagram.com/" target="_blank"><img src="../ASSETS/logoInstagram.png" alt="IG"></a> 
        <a href="https://www.facebook.com/" target="_blank" ><img src="../ASSETS/logoFacebook.png" alt="FB"></a> 
        <a href="../VIEWS/miCarrito.html"><img src="../ASSETS/miCarrito.png" alt="Mi Carrito"></a>
    </header> 
    <nav id="barra">
        <a href="../Index.html"> INICIO</a>
        <a href="catalogo.html">CATÁLOGO</a>
        <a href="comocomprar.html" >COMO COMPRAR</a>
        <a href="contacto.html">CONTACTO</a>


    </nav>  
    <main id="comoComprar">
    <h1> Como comprar en Il Bambino </h1>
    <h2>¿Cómo agrego productos a mi carrito?</h2>

    <div>Navegá la web por categorías y buscá los productos que más te gusten. 
    Cuando elijas un producto, debés indicar el talle, el color y hacer clic en "Agregar al Carrito". 
    Si querés seleccionar más productos seguí navegando y agregándolos de la misma manera.
    Para concretar la compra, hacé clic en el icono de carrito que se encuentra en la parte superior derecha de la pantalla (allí podrás modificar tu elección).</div>
    <h2>    Método de envío    </h2> 
    <div>        Hacemos envíos a todo el país.
    Podrás elegir entre el envío a domicilio (costo a cargo del comprador) o el retiro en cualquiera de nuestras tiendas.</div>
    <div>
    Los plazos aproximados de entrega son los siguientes:    
    </div>

    <div>Envío a domicilio por Correo Argentino - Encomienda Clásica: Entre 10 y 15 días hábiles.
    Envío a domicilio por Correo Argentino - Encomienda Prioritaria: Entre 5 y 10 días hábiles.
    </div>
 
    <h2>Pago </h2>
    <div>Concluidos los pasos anteriores enviaremos un link de pago con los diferentes medios habilitados.
    </div>

    <h2>Tabla de talles </h2>
    <img src="../ASSETS/tablaDeTalles.jpg" alt="tabla">
</main>

<footer id="footer">
    <p>¡HACEMOS ENVÍOS A TODO EL PAÍS!</p>
        <p>Teléfono: 0342-155687900 <a href="https://api.whatsapp.com/send?phone=+543425087277&text=Hola%20Il%20Bambino,%20quer%C3%ADa%20informaci%C3%B3n%20sobre:" target="_blank"><img src="../ASSETS/logoWhatsapp.jpg" alt="whatsapp"></a>
        Email: ilbambino@gmail.com        <a href="mailto:ilbambino@gmail.com" target="_blank"><img src="../ASSETS/logoMail.png" alt="mail"></a></p>
    
        <p class="diseñador">Diseño web realizado por <a href="mailto:doloresalemang@gmail.com" target="_blank"><img src="../ASSETS/logoDa.png" alt="DA"></a></p> 
</footer>
</div>
</body>
</html>