<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>IL BAMBINO - Contacto</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../STYLES/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="../STYLES/mediaQuerys/mobiles.css" media="(min-width:850px)">
    <link rel="stylesheet" href="../STYLES/mediaQuerys/tablet.css" media="(min-width:1100px)">
    <link rel="stylesheet" href="../STYLES/mediaQuerys/desktop.css" media="(min-width:1300px)">-->
    <link rel="stylesheet" href="../STYLES/styles.css" />
    <script src="JS/functions.js"></script>
</head>
<body>
    <div class="grid-container">
    <header id="header">
        <img src="../ASSETS/logoTransparente.png" alt="logo" >
        <a href="https://www.instagram.com/" target="_blank"><img src="../ASSETS/logoInstagram.png" alt="IG"></a> 
        <a href="https://www.facebook.com/" target="_blank" ><img src="../ASSETS/logoFacebook.png" alt="FB"></a> 
        <a href="../VIEWS/miCarrito.html"><img src="../ASSETS/miCarrito.png" alt="Mi Carrito"></a>
        
    </header> 
    <nav id="barra">
        <a href="../Index.html"> INICIO</a>
        <a href="catalogo.html">CATÁLOGO</a>
        <a href="comocomprar.html" >COMO COMPRAR</a>
        <a href="contacto.html">CONTACTO</a>
        

    </nav>  
    <main>
    <section id="contacto">
    
        <p>Formulario de contacto</p>
        <br>
            <label> Nombre: </label> 
            <input type="text"> 
            
            <label> Teléfono: </label>
            <input type="number"> 
            
            <label> E-mail: </label>
            <input type="email"> 
            
            <label> Deje su mensaje aquí:</label>
            <br></br>
            <textarea cols="20" rows="5" maxlength="10">  </textarea>
            <br>
            <input type="checkbox">
            <label>Deseo recibir ofertas y novedades de Il Bambino.</label>
            </br>
            <div>
            <button type="submit">ENVIAR</button></div>
        </form>
        <div id="mapa">
        Estamos en: Santa Fe - Argentina</div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d108722.37637787905!2d-60.7762982!3d-31.6181236!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5a9adc40888e1%3A0xdcf7761e8d02804a!2sSanta%20Fe!5e0!3m2!1ses!2sar!4v1618361009677!5m2!1ses!2sar" allowfullscreen="" loading="lazy"></iframe>
    </section>
    </main>
    
    <footer id="footer">
        <p>¡HACEMOS ENVÍOS A TODO EL PAÍS!</p>
        <p>Teléfono: 0342-155687900 <a href="https://api.whatsapp.com/send?phone=+543425087277&text=Hola%20Il%20Bambino,%20quer%C3%ADa%20informaci%C3%B3n%20sobre:" target="_blank"><img src="../ASSETS/logoWhatsapp.jpg" alt="whatsapp"></a>
        Email: ilbambino@gmail.com        <a href="mailto:ilbambino@gmail.com" target="_blank"><img src="../ASSETS/logoMail.png" alt="mail"></a></p>
    
        <p class="diseñador">Diseño web realizado por <a href="mailto:doloresalemang@gmail.com" target="_blank"><img src="../ASSETS/logoDa.png" alt="DA"></a></p> 
    </footer>
    </div>
    </body>
</html>
