<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi carrito</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../STYLES/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="../STYLES/mediaQuerys/mobiles.css" media="(min-width:850px)">
    <link rel="stylesheet" href="../STYLES/mediaQuerys/tablet.css" media="(min-width:1100px)">
    <link rel="stylesheet" href="../STYLES/mediaQuerys/desktop.css" media="(min-width:1300px)">-->
    <link rel="stylesheet" href="../STYLES/styles.css" />
  </head>
  <body>
    <div class="grid-container">
    <header id="header">
       <img src="../ASSETS/logoTransparente.png" alt="logo" >
        <a href="https://www.instagram.com/" target="_blank"><img src="../ASSETS/logoInstagram.png" alt="IG"></a> 
        <a href="https://www.facebook.com/" target="_blank" ><img src="../ASSETS/logoFacebook.png" alt="FB"></a> 
        <a href="../VIEWS/miCarrito.html"><img src="../ASSETS/miCarrito.png" alt="Mi Carrito"></a>
    </header> 
    <nav id="barra">
        <a href="../Index.html"> INICIO</a>
        <a href="catalogo.html">CATÁLOGO</a>
        <a href="comocomprar.html" >COMO COMPRAR</a>
        <a href="contacto.html">CONTACTO</a>
       
    </nav>  
    <main>
    <section id="productos">
      <h1>  Productos seleccionados   </h1>
        <ol>
        <li> <img src="../ASSETS/vestido1.jpg" alt="foto">
        <select>
            <option value="">Color</option>
            <option value="Rosa">Rosa</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="blanco">Blanco</option>
        </select>
        <select>
            <option value="">Talle</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        
        Precio: $500.-
        <button>Eliminar del carrito</button></li>
        <li><img src="../ASSETS/accesorio33.jpg" alt="foto" >
        <select>
            <option value="">Color</option>
            <option value="Rosa">Rosa</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="blanco">Blanco</option>
        </select>
        <select>
            <option value="">Talle</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        Precio: $490.-
        <button>Eliminar del carrito</button></li>
        <li><img src="../ASSETS/bodie3.jpg" alt="foto">
        <select>
            <option value="">Color</option>
            <option value="Rosa">Rosa</option>
            <option value="azul">Azul</option>
            <option value="amarillo">Amarillo</option>
            <option value="blanco">Blanco</option>
        </select>
        <select>
            <option value="">Talle</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        Precio: $620.-
        <button>Eliminar del carrito</button></li>
      </ol>
      <h1>Precio total de la compra:$1.610.-</h1>
        <button class="final">Continuar comprando</button>
        <button>Finalizar compra</button>
    </section>
  </main>
    <footer id="footer">
      <p>¡HACEMOS ENVÍOS A TODO EL PAÍS!</p>
        <p>Teléfono: 0342-155687900 <a href="https://api.whatsapp.com/send?phone=+543425087277&text=Hola%20Il%20Bambino,%20quer%C3%ADa%20informaci%C3%B3n%20sobre:" target="_blank"><img src="../ASSETS/logoWhatsapp.jpg" alt="whatsapp"></a>
        Email: ilbambino@gmail.com        <a href="mailto:ilbambino@gmail.com" target="_blank"><img src="../ASSETS/logoMail.png" alt="mail"></a></p>
    
        <p class="diseñador">Diseño web realizado por <a href="mailto:doloresalemang@gmail.com" target="_blank"><img src="../ASSETS/logoDa.png" alt="DA"></a></p> 
    </footer>
    </div>
  </body>
</html>